<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RM93 Website</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('homepage') }}" id="homepage-link">Homepage</a><br>
            <a href="{{ url_for('dashboard') }}" id="dashboard-link">User page</a><br>
            <p> Account: {{ current_user.username }} </p>
            <a href="{{ url_for('logout') }}" id="logout-link">Logout</a><br>
        {% else %}
            <a href="{{ url_for('homepage') }}" id="homepage-link">Homepage</a><br>
            <a href="{{ url_for('login') }}" id="login-link">Login</a><br>
            <a href="{{ url_for('register') }}" id="register-link">Register</a><br>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>